
/*
=================================================================================================
================================================================================ MEDIA QUERIES FOR TABLETS
=================================================================================================
*/

@media all and (max-width : 1024px) {

  /*
  -------------------------------------------------------------------------------
  -----------------------------------------------------------         GLOBAL
  -------------------------------------------------------------------------------
  */
  body{
    margin: 0px;
    padding: 0px;
  }
  #presentation, #skills, #contact
  {
      height:370px;
      text-align: center;
  }

  .big_title{
    font-size: 2em;
  }

  .medium_title{
    font-size: 1.5em;
  }

  .big_icon{
    height: 250px;
    width:250px;
  }

  /*
  -------------------------------------------------------------------------------
  -----------------------------------------------------------PRESENTATION SECTION
  -------------------------------------------------------------------------------
  */

  #presentation_container{
      width:60%;
  }

  #presentation_container h1{
      left: 4%;
      width:80%;
      padding-top: 35px;
  }

  #presentation_container h2{
      left: 4%;
      margin-bottom: 30px;
  }

  #presentation_container p{
      left: 0%;
      width:90%;
      font-size: 1em;

  }

  /*
  -------------------------------------------------------------------------------
  -----------------------------------------------------------SKILLS SECTION
  -------------------------------------------------------------------------------
  */

  #skills img{
    height: 200px;
    width:200px;
  }
  #skills_container{
        width:65%;
  }

  #skills_container h2, #skills_container p{
    width:95%;
  }

  #skills_container p{
    font-size: 0.8em;
  }

  /*
  -------------------------------------------------------------------------------
  -----------------------------------------------------------CONTACT SECTION
  -------------------------------------------------------------------------------
  */

  #contact{
      height: 300px;
  }

  #contact_container{
    position: relative;
    left:0%;
    top: 0%;
    width: 100%;
  }

  #contact_container h1{
    margin: 0px;
    padding-top: 30px;
  }

  #contact_container h2 {
    font-size: 1.2em;
    padding-bottom: 20px;
  }

}
